package app

import (
	"github.com/ml444/gkit/dbx"

	"{{ GoModule . "project" }}/internal/db"
	"{{ GoModule . "client" }}"
)

{{- $pn := .PackageName}}
{{- $listOptionMap := .ListOptionMap }}
func init() {
	db.RegisterModel(
{{- range $i, $m := .ModelList }}
		&{{$pn}}.{{$m.Name}}{},
{{- end }}
	)
}

{{- range $i, $m := .ModelList }}
    {{- $name := TrimPrefix $m.Name "Model" }}
    {{- $protoModelName := Concat $pn "." $m.Name}}
var db{{$name}} = dbx.NewT(db.DB, &{{$protoModelName}}{}, {{$pn}}.ErrNotFound{{$name}})
{{- end }}
