package {{.PackageName}}

import (
	"context"
)

const ClientName = "{{.PackageName}}"

{{ range $i, $svc := .ServiceList }}
{{ range $j, $v := $svc.RpcList }}
func {{$v.Name}}(ctx context.Context, req *{{$v.RequestType}}) (*{{$v.ResponseType}}, error) {
	if cliMgr.conn == nil {
		return nil, cliMgr.initErr
	}
    return cliMgr.cli.{{$v.Name}}(ctx, req)
}
{{ end }}
{{ end }}
