syntax = "proto3";

package {{ .PackageName }};

option go_package = "{{ .ModulePrefix }}/{{ .PackageName }}Server/api/{{ .PackageName }}";

import "validate/validate.proto";
import "listoption/listoption.proto";
{{ $caseServiceName := ToUpperFirst .PackageName }}
service {{ .PackageName }} {
	rpc Create{{$caseServiceName}} (Create{{$caseServiceName}}Req) returns (Create{{$caseServiceName}}Rsp);
	rpc Update{{$caseServiceName}} (Update{{$caseServiceName}}Req) returns (Update{{$caseServiceName}}Rsp);
	rpc Delete{{$caseServiceName}} (Delete{{$caseServiceName}}Req) returns (Delete{{$caseServiceName}}Rsp);
	rpc Get{{$caseServiceName}} (Get{{$caseServiceName}}Req) returns (Get{{$caseServiceName}}Rsp);
	rpc List{{$caseServiceName}} (List{{$caseServiceName}}Req) returns (List{{$caseServiceName}}Rsp);
}

// range of error codes: [{{.StartErrCode}}, {{.EndErrCode}}]
enum ErrCode {
    Success = 0;
    //@status_code: 400
    ErrInvalidParam = {{.StartErrCode}};   // 非法参数
    //@status_code: 400
    ErrParamRequired = {{Add .StartErrCode 1}};      // 缺失参数
    //@status_code: 404
    ErrNotFound{{$caseServiceName}} = {{Add .StartErrCode 2}};       // 未找到相关记录
}

// GORM USAGE: 
// @gorm: type:json;index:idx_ct_xx,priority:1;comment:'xxxx'
// @gorm: type:varchar(255);uniqueIndex:uidx_phone,sort:desc;comment:'phone number'

message Model{{$caseServiceName}} {
    // @gorm: primarykey
    uint64 id = 1;
    // @gorm: comment:'企业ID'
    uint64 corp_id = 102;
    // @gorm: comment:'创建时间'
    uint32 created_at = 103;
    // @gorm: comment:'更新时间'
    uint32 updated_at = 104;
    // @gorm: comment:'删除时间'
    uint32 deleted_at = 105;
}

message Create{{$caseServiceName}}Req {
    Model{{$caseServiceName}} data = 1 [(validate.rules).message.required = true];
}
message Create{{$caseServiceName}}Rsp {
    Model{{$caseServiceName}} data = 1;
}

message Update{{$caseServiceName}}Req {
    Model{{$caseServiceName}} data = 1 [(validate.rules).message.required = true];
}
message Update{{$caseServiceName}}Rsp {
    Model{{$caseServiceName}} data = 1;
}

message Delete{{$caseServiceName}}Req {
    uint64 id = 1 [(validate.rules).uint64.gt = 0];
}
message Delete{{$caseServiceName}}Rsp {}

message Get{{$caseServiceName}}Req {
    uint64 id = 1 [(validate.rules).uint64.gt = 0];
}
message Get{{$caseServiceName}}Rsp {
    Model{{$caseServiceName}} data = 1;
}

message List{{$caseServiceName}}Req {
    enum ListOpt {
		ListOptNil = 0;
        // @valueType: uint64List
        ListOptIdList = 1;
        // @valueType: string
        ListOptName = 2;
	}
	listoption.ListOption list_option = 1;
}
message List{{$caseServiceName}}Rsp {
    listoption.Paginate paginate = 1;
    repeated Model{{$caseServiceName}} list = 2;
}



