syntax = "proto3";

package {{ .PackageName }};

option go_package = "{{ .ModulePrefix }}/{{ .ServiceName }}";

import "validate/validate.proto";
import "listoption/listoption.proto";

service {{ .ServiceName }} {
	rpc Create{{.CaseServiceName}} (Create{{.CaseServiceName}}Req) returns (Create{{.CaseServiceName}}Rsp);
	rpc Update{{.CaseServiceName}} (Update{{.CaseServiceName}}Req) returns (Update{{.CaseServiceName}}Rsp);
	rpc Delete{{.CaseServiceName}} (Delete{{.CaseServiceName}}Req) returns (Delete{{.CaseServiceName}}Rsp);
	rpc Get{{.CaseServiceName}} (Get{{.CaseServiceName}}Req) returns (Get{{.CaseServiceName}}Rsp);
	rpc List{{.CaseServiceName}} (List{{.CaseServiceName}}Req) returns (List{{.CaseServiceName}}Rsp);
}

// range of error codes: [{{.StartErrCode}}, {{.EndErrCode}}]
enum ErrCode {
    Success = 0;
    //@status_code: 400
    ErrInvalidParam = {{.StartErrCode}};   // 非法参数
    //@status_code: 400
    ErrParamRequired = {{Add .StartErrCode 1}};      // 缺失参数
    //@status_code: 404
    ErrNotFound{{.CaseServiceName}} = {{Add .StartErrCode 2}};       // 未找到相关记录
}

// GORM USAGE: 
// @gorm: type:json;index:idx_ct_xx,priority:1;comment:'xxxx'
// @gorm: type:varchar(255);uniqueIndex:uidx_phone,sort:desc;comment:'phone number'

message Model{{.CaseServiceName}} {
    // @gorm: primarykey
    uint64 id = 1;
    // @gorm: comment:'企业ID'
    uint64 corp_id = 102;
    // @gorm: comment:'创建时间'
    uint32 created_at = 103;
    // @gorm: comment:'更新时间'
    uint32 updated_at = 104;
    // @gorm: comment:'删除时间'
    uint32 deleted_at = 105;
}

message Create{{.CaseServiceName}}Req {
    Model{{.CaseServiceName}} data = 1 [(validate.rules).message.required = true];
}
message Create{{.CaseServiceName}}Rsp {
    Model{{.CaseServiceName}} data = 1;
}

message Update{{.CaseServiceName}}Req {
    Model{{.CaseServiceName}} data = 1 [(validate.rules).message.required = true];
}
message Update{{.CaseServiceName}}Rsp {
    Model{{.CaseServiceName}} data = 1;
}

message Delete{{.CaseServiceName}}Req {
    uint64 id = 1 [(validate.rules).uint64.gt = 0];
}
message Delete{{.CaseServiceName}}Rsp {}

message Get{{.CaseServiceName}}Req {
    uint64 id = 1 [(validate.rules).uint64.gt = 0];
}
message Get{{.CaseServiceName}}Rsp {
    Model{{.CaseServiceName}} data = 1;
}

message List{{.CaseServiceName}}Req {
    enum ListOpt {
		ListOptNil = 0;
        // @valueType: uint64List
        ListOptIdList = 1;
        // @valueType: string
        ListOptName = 2;
	}
	listoption.ListOption list_option = 1;
}
message List{{.CaseServiceName}}Rsp {
    listoption.Paginate paginate = 1;
    repeated Model{{.CaseServiceName}} list = 2;
}



