package {{.PackageName}}

import (
	"context"

	"github.com/ml444/gkit/pkg/header"
)

const ClientName = "{{.PackageName}}"
const ModuleCode uint32 = {{.ModuleId}}

{{ range $i, $svc := .ServiceList }}
{{ range $j, $v := $svc.RpcList }}
func {{$v.Name}}(ctx context.Context, req *{{$v.RequestType}}) (*{{$v.ResponseType}}, error) {
	if cliMgr.conn == nil {
		return nil, cliMgr.initErr
	}
	ctx = header.TransportMDFromCtx(ctx)
    return cliMgr.cli.{{$v.Name}}(ctx, req)
}
{{ end }}
{{ end }}
