package {{.PackageName}}

import (
	"context"

	"google.golang.org/grpc/metadata"
)

const (
	ClientName        = "{{.PackageName}}"
	ModuleCode uint32 = 1
)


func TransportMDFromCtx(ctx context.Context) context.Context {
	md, ok := metadata.FromIncomingContext(ctx)
	if ok {
		ctx = metadata.NewOutgoingContext(ctx, md)
	}
	return ctx
}

{{ range $i, $svc := .ServiceList }}
{{ range $j, $v := $svc.RpcList }}
func {{$v.Name}}(ctx context.Context, req *{{$v.RequestType}}) (*{{$v.ResponseType}}, error) {
	if cliMgr.conn == nil {
		return nil, cliMgr.initErr
	}
	ctx = TransportMDFromCtx(ctx)
    return cliMgr.{{$svc.ServiceName}}Cli.{{$v.Name}}(ctx, req)
}
{{ end }}
{{ end }}
