package main

import (
    "github.com/ml444/gkit/log"
	//"github.com/ml444/gkit/middleware/tracing"

	"{{.ModulePath}}/internal/db"
	"{{.ModulePath}}/pkg/{{.PackageName}}"
	"{{.ModulePath}}/config"
)

func Init(cfg *config.Config) error {
	var err error

    // init config
    err = config.InitConfig()
    if err != nil {
        log.Errorf("err: %v", err)
        return err
    }

	// setting logger
	err = log.InitLogger({{.PackageName}}.ClientName, cfg.Debug)
    if err != nil {
        log.Errorf("err: %v", err)
        return err
    }

	// init db
	err = db.InitDB(cfg.DBCfg, cfg.Debug)
	if err != nil {
		log.Errorf("err: %v", err)
		return err
	}

	// init tracer
	//err = tracing.InitTracer(cfg.TracerAddr, log.GetLoggerName())
	//if err != nil {
	//	log.Errorf("err: %v", err)
	//	return err
	//}



	return nil
}

