package app

import (
	"net/http"
	"github.com/gorilla/mux"
	"github.com/ml444/gkit/transport/httpx"
	log "github.com/ml444/glog"
	"google.golang.org/grpc/xds"
	"{{.Options.go_package}}"
)

{{$pn := .PackageName}}

func MakeHTTPHandler() http.Handler {
	router := mux.NewRouter()
{{ range $i, $svc := .ServiceList }}
	err := httpx.ParseService2HTTP(
        New{{ToCamelCase $svc.ServiceName}}Service(),
        router, 
        httpx.SetTimeoutMap(nil), 
        httpx.SetJwtHook(nil),
    )
    if err != nil {
		log.Errorf("err: %v", err)
	}
{{end}}
	return router
}

func RegisterServerToGRPC(s *xds.GRPCServer) {
{{ range $i, $svc := .ServiceList }}
	{{$pn}}.Register{{ToCamelCase $svc.ServiceName}}Server(s, New{{ToCamelCase $svc.ServiceName}}Service())
{{end}}
}
