package main

import (
    "github.com/ml444/gkit/log"
    glog "github.com/ml444/glog"
	//"github.com/ml444/gkit/middleware/tracing"

	"{{ GoModule . "project" }}/config"
	"{{ GoModule . "project" }}/internal/db"
	"{{ GoModule . "server" }}/conf"
)

func Init(cfg *conf.Config) error {
	var err error

	// setting logger
    err = config.InitLogger(cfg.CommonConfig, "{{.Name}}")
	if err != nil {
		log.Errorf("err: %v", err)
		return err
	}

	// init db
	err = db.InitDB(cfg.DBCfg, cfg.Debug)
	if err != nil {
		log.Errorf("err: %v", err)
		return err
	}

	// init tracer
	//err = tracing.InitTracer(cfg.TracerAddr, log.GetLoggerName())
	//if err != nil {
	//	log.Errorf("err: %v", err)
	//	return err
	//}

	return nil
}



