package main

import (
	log "github.com/ml444/glog"
	"{{.Options.go_package}}Server/internal/db"
	// "gitlab.com/spp/uuid"
)

func Init() error {
	var err error

	// init db
	err = db.InitDB()
	if err != nil {
		log.Errorf("err: %v", err)
		return err
	}

	return nil
}

